* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* navbar/////////////////////////////////////////////////// */
nav {
  height: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  /* margin: 10px 0 20px 0; */
  /* width: 100%; */
}

.logo img {
  width: 60px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.nav-links a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: gray;
}

.nav-links li {
  list-style: none;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}
/* mobile///////////////////////////////////////////////////// */
@media (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  main {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-right: 8%;
    padding-left: 8%;
/*     margin-top: 3rem; */
/*     margin-bottom: 3rem; */
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .content-left{
  width:100%;
    
  }
  .nav-links {
    position: absolute;
    height: 90vh;
    top: 10vh;
    background-color: white;
    /* border: 2px solid red; */
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    /* border: 2px solid red; */
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* animation////////////////////////////////////////////////// */
li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  background-color: rgb(49, 49, 240);
  transition: all 0.5s;
}

li a:hover::after {
  width: 100%;
}

/* main section///////////////////////////////////////////// */
main {
  display: flex;
/*   height: 100vh; */
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.hero-img {
  max-width: 650px;
}

.content-left {
  padding-left:8%
    padding-right:8%;
}

h1 {
  font-size: 50px;
  color: grey;
  text-transform: uppercase;
}

h2 {
  color: rgb(49, 49, 240);
  font-size: 40px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.cta-btn {
  padding: 15px 30px;
  background-color: rgb(49, 49, 240);
  border-radius: 50px;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2rem auto;
  font-size: 17px;
  font-weight: 200;
}

.btn:hover {
  background-color: gray;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
/* .section-styling {
  display:grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
} */

.container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}
.font-awesome {
  color: blue;
  text-align: center;
  width: 100%;
}

.container p {
  color: grey;
}

/* 
@media (max-width: 1000px) {
    main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .content-left {
    width: 50%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
  }
  .section-styling {
      margin: 10px auto;
      text-align: center;
      padding: 10px auto;
      max-width: 100%;
    }
} */
